* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    background: white url(../img/fundo.png) repeat-x ;
}

.container {
    border: 1px solid red;
    width: 750px;
    margin: 0 auto;
}
.cabecalho {
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -50000px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu-horizontal ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}
.menu-horizontal ul li {
    float: left;
}
.menu-horizontal ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../img/divisor.png) no-repeat left center;
}
.menu-horizontal ul  .primeiro a {
    background: none;
}
.menu-horizontal ul a:hover {
    color:#69001d;
}

body.home .menu-horizontal a#home,
body.brasil .menu-horizontal a#brasil,
body.internacional .menu-horizontal a#internacional,
body.economia .menu-horizontal a#economia,
body.saude .menu-horizontal a#saude,
body.ciencia .menu-horizontal a#ciencia,
body.fotos .menu-horizontal a#fotos{
    color: white;
    background: #de003e;
    cursor: text;
}